.main-container{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1em;
          .myInfo{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 2em;
          }
}