<main class="container">
  <div class="first-page">
    <h2>Login</h2>
    <section class="name">
      <span>Username: </span>
      <!-- we are verifying username -->
      <input type="text" placeholder="Enter your name" [(ngModel)]= "username"/> 
    </section>
    <section class="password">
      <span>Password: </span>
      <input type="password" [(ngModel)] = "password" placeholder="Enter password"/>
    </section>
    <button class="submit-btn" (click)="checkPassword()">Submit</button>
  </div>
</main>
